body {
    margin: 0;
}

.seccion {
    margin: auto;
    padding: 7%;
    font-size: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    color: #ddd;
}

header {
    background-color: #EAF2EF;
    padding: 5% 10%;
    margin: auto;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    
        img {
            width: 60%;
            height: auto;
        }
    }
}

#enlaces {
    background-color: #444c54;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;

    a {
        text-decoration: none;
        font-family: sans-serif;
        color: #EEE;
        margin: 0 70px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}

#destacado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455561;

    .contenedor {
        width: 70%;
    
        h3 {
            color: #f7efe9;
            font-family: sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    
        a {
            display: flex;
            justify-content: center;
            align-items: center;
        
            img {
                width: 40%;
                height: auto;
                margin: 4%;
            }
        }
    }
}

#convocatoria {
    background-color: #455561;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contenedor {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
            width: 40%;
            height: auto;
            margin: 4%;
        }
    }
}

#numeros {
    background-color: #5A7081;
    margin: auto;

    .contenedor {
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: center;
        width: 100%;
    
        a {
            width: 22%;
            display: flex;
            justify-content: center;
        
            img {
                width: 100%;
                height: auto;
                margin: 4%;
            }
        }
    }
}

#contacto {
    background-color: #5A7081;
    margin: auto;
    padding: 20px;

    p {
        padding-left: 15%;
        font-family: sans-serif;
        font-size: 18px;
        color: #EAF2EF;
        margin: 5% 0;
        line-height: 1.5;
        text-align: left;
        font-weight: 500;
    }

    .carta {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: #EAF2EF;
            font-weight: 900;
        }
    }

    .formulario {
        position: relative;
        width: 100%;
        padding-bottom: 20%;
        border-radius: 8px;
    
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}





@media (max-width: 480px) {
    .seccion {
        font-size: 16px;
    }

    header {
        padding: 5%;

        a {
            img {
                width: 100%;
            }
        }
    }

    #enlaces {
        padding: 3%;

        a {
            margin: 0 30px;
            font-size: 10px;
        }
    }

    #destacado .contenedor {
        width: 90%;
    }

    #numeros .contenedor {
        flex-direction: column;
        align-items: center;

        a {
            width: 90%;
        }
    }

    #destacado .contenedor a img,
    #convocatoria .contenedor img {
        width: 70%;
    }

    #contacto {
        padding: 10px;

        p {
            padding-left: 8%;
            line-height: 1.5;
            font-size: 16px;
        }

        .formulario {
            padding-bottom: 120%;
        }
    }
}