.numeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  box-sizing: border-box;
  background-color: #4D6160;
}



@media (max-width: 480px) {
  .numeros {
    flex-direction: column;
    align-items: center;
  }
}