footer {
    background-color: #333;
    color: white;
    padding: 1.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contenido {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenido img {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    filter: invert(1);
}

.copyright {
    font-size: 0.9rem;
    opacity: 0.8;
}





@media (max-width: 480px) {
    footer {
        padding: 1rem;
    }

    .contenido {
        gap: 0.5rem;

        a {
            font-size: 0.8rem;
        }
    }

    .copyright  {
        font-size: 0.8rem;
    }
}